# Ignore everything in public/uploads/
public/uploads/*
# Except .gitkeep
!public/uploads/.gitkeep
# Other ignores
node_modules/
.env
*.log
package-lock2.json.DS_Store
public/.DS_Store
.DS_Store
public/.DS_Store
